body {
  background-color: lightpink;
  text-align: center;
  font-family: sans-serif;
  width: 100%;

}
h1 {
  color: purple;
  text-align: center;
  font-family: sans-serif;
}
.bigbox {
  margin: 10px;
  border: 15px solid purple;
  text-align: center;
  font-family: sans-serif;
  border-radius: 20px;
  padding: 50px;
  background-color: green;
}

p {
  font-size: 25px;
  color: white;
}

.img-wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
  justify-content: space-around;
  align-items: center;
  
}

.img-wrapper img{
  width: 100%;
  height: 600px;
}

@media all and (max-width:480px) {
  img{
    width: 100%;
  }

  .img-wrapper {
    display: block;
    padding: 20px;
  }

  .img-wrapper img{
    padding: 20px 0;
  }
  
}
